.paginaContato {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Averia Gruesa Libre", sans-serif;
  background-color: #fff9f9;
  color: #333;
}

.topo {
  text-align: center;
  margin-top: 1rem;
  color: #ff758f;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #ff758f;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 500;
}

input, textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input:focus, textarea:focus {
  border-color: #ff758f;
  outline: none;
  box-shadow: 0 0 5px rgba(255,117,143,0.3);
}

textarea {
  resize: none;
}

.contador {
  text-align: right;
  font-size: 0.8rem;
  color: #888;
  margin-bottom: 1rem;
}

.botoes {
  display: flex;
  gap: 1rem;
}

button {
  flex: 1;
  padding: 0.9rem;
  background-color: #ff758f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ff4d6d;
}

.botaoReset {
  background-color: #a58797;
  color: #333;
}

.faqItem {
  margin-bottom: 1rem;
}

.rodape {
  text-align: center;
  padding: 1rem;
  background-color: #ffe5ec;
  color: #333;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
}

.accordionItem {
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5rem;
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem 0;
  font-weight: bold;
  color: #ff758f;
}

.accordionContent {
  padding: 0.5rem 0;
  color: #444;
  line-height: 1.4;
}

.botaoWhats {
  background-color: #25d366;
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 25em;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  width: 5em;
  height:  5em;
  margin-left: 1em;
  margin: 1em;
}

.botaoWhats:hover {
  background-color: #1ebe5d;
}

.voltarBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff4d6d;
  color: #fff;
  border: none;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: 0.3s ease;
}

.voltarBtn:hover {
  background-color: #e63950;
  transform: scale(1.1);
}
