.headerContainer {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    width: 100%;
    background-color: rgba(203, 138, 196, 1);
    position: relative;
    z-index: 10;
    box-sizing: border-box;
}

.logoSection {
    margin-bottom: -50px;
    z-index: 11;
    display: flex;
}

.logoImg {
    height: 150px;
    width: auto;
    cursor: pointer;
}

.navAndButtons {
    display: flex;
    align-items: center;
    gap: 100px;
}

.navLinks {
    display: flex;
    gap: 50px;
}

.navLinks a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    padding: 5px 0;
    padding-bottom: 8px;
    position: relative;
    transition: color 0.2s;
}

.navLinks a:hover {
    color: rgba(129, 0, 127, 1);
}

.navLinks a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: rgba(129, 0, 127, 1);
    transition: all 0.3s ease-out;
    transform: translateX(-50%);
    border-radius: 2px;
}

.navLinks a:hover::after {
    width: 100%;
}

.buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.entrar {
    background-color: transparent;
    border-color: rgba(255, 185, 29, 1);
    color: rgb(255, 184, 30);
    box-shadow: none;
}

.entrar:hover {
    background-color: rgba(189, 136, 21, 0.342);
    transform: scale(1.03);
}

.cadastrar {
    background-color: rgba(129, 0, 127, 1);
    border-color: rgb(102, 2, 100);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cadastrar:hover {
    background-color: rgba(134, 29, 133, 0.473);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
}
